body {
    margin: 0;
}

.my-message {
    background-color: bisque;
    /* width: 15px; */
    display: inline-block;
    padding: 5px 10px 5px 5px;
}

.their-message {
    background-color: aqua;
}

html {
    text-size: 14px;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.hidden {
    display: none !important;
}

.chats-list {
    height: 100%;
    width: 14rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgray;
    overflow-x: hidden;
    padding-top: 1.4rem;
}

.chats-list div {
    display: block;
    padding: 0.4rem 0.57rem 0.4rem 1.15rem;
    flex-grow: 1;
    text-decoration: none;
    text-align: left;
    color: azure;
    background-color: darkgray;
    display: block;
    cursor: pointer;
}

.chats-list div:hover {
    background-color: coral;
}

.chat-content {
    margin-left: 14rem;
    padding: 0rem 0.7rem;
}

.chats-list-header {
    /* width: 12rem; */
    top: 0;
    position: sticky;
}

.for-authorizated {
    display: none;
}

.reg-auth-window-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.reg-auth-window {
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    width: 17rem;
    /* height: 20rem; */
    /* top: 25%;
    left: 37.5%;
    right: 37.5%;
    bottom: 25%; */
    transform: translate(-50% -50%);
    z-index: 10;
    box-shadow: 0 0.27rem 0.54rem 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.reg-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 1rem 1rem 1rem; */
    /* flex-wrap: 1; */
}

.auth-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1;
    height: 100vh;
    padding: 1rem;
    padding-top: 0; */
}

label {
    display: block;
}

.reg-auth-window input {
    width: 100%;
    margin: 0.4rem 0 1.3rem 0;
    /* margin-top: 1.9rem; */
    display: inline-block;
    border-radius: 0.2rem;
    border: 0.05rem solid grey;
    /* background-color: #f1f1f1; */
}

.reg-auth-window input:focus {
    outline: none;
    background-color: #edfaef;
    border-color: #5acc6d;
}

.reg-auth-window .confirm {
    background-color: #4CAF50;
    color: white;
    padding: 1.2rem 1.3rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
}

.switch-sign-windows {
    /* padding: 0.8rem 1rem 0 1rem; */
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
}

.reg-auth-window p {
    color: #4CAF50;
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
}

.reg-auth-window .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.reg-auth-window .buttons button {
    /* background-color: #4CAF50;
    color: white; */
    width: 100%;
    padding: 0.4rem 0.4rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    opacity: 0.8;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.flash-message {
    display: inline-block;
    color: red;
}

.reg-auth-window button:disabled {
    background-color: rgb(111, 108, 103);
}